* {

    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    background-color: #f0f0f0;
    margin: 5 5 5 5;
    padding: 5;

}


/*
Author: Clyde Balaman
Description: This is a demo HTML file for Part2A created by Clyde Balaman.
*/
